.active {
  width: 150px;
  display: inline-block;
  /* background-color: #e8eaec; */

  background: #5463cb;
  border: none;
  box-shadow: 5px 5px 15px 0px rgba(13, 39, 80, 0.16), -5px -5px 15px 0px #fff;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
}
